---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { Image } from 'astro:assets';
import imageReference1 from '../../images/catering-menu-specials.1.png';
import imageReference2 from '../../images/catering-menu-specials.2.png';
import imageReference3 from '../../images/catering-menu-specials.3.png';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main { width: 960px; }
      p { text-align: center; }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <Image
          src={imageReference1}
          alt="Other catering menu specials page 1 of 4"
          inferSize={true}
        />
        <Image
          src={imageReference2}
          alt="Other catering menu specials page 2 of 4"
          inferSize={true}
        />
        <Image
          src={imageReference3}
          alt="Other catering menu specials page 3 of 4"
          inferSize={true}
        />
        <p><a href="/catering">Return to catering page</a></p>
      </section>
    </main>
    <Footer />
  </body>
</html>
